@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animations.css";

@layer base {
  :root {
    /* --foreground: 222.2 84% 4.9%;

    --primary: 24 85% 54%;
    --primary-rgb: 234, 92, 43;

    --secondary: 45 90% 67%;
    --secondary-rgb: 246, 216, 96;

    --accent: 92 52% 53%;
    --accent-rgb: 149, 205, 65;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: var(--primary);

    --radius: 0.75rem; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
